<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            background-color: #f0f0f0; /* Light grey background */
            font-family: Arial, sans-serif;
            text-align: center; /* Center align content */
            margin-top: 100px; /* Margin from the top */
        }
        h1 {
            color: #4CAF50; /* Green text color */
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ name }}!</h1>
</body>
</html>

